Source: mahalia-utils
Priority: optional
Section: sound
Maintainer: Christopher Obbard <chris@64studio.com>
Build-Depends: debhelper (>= 10), dh-systemd
Standards-Version: 3.9.8

Package: mahalia-utils
Architecture: all
Pre-Depends: dnsmasq, hostapd, alsa-utils, whois, firmware-ti-connectivity, i2c-tools
Depends: ${misc:Depends}
Description: Mahalia Utils
 Tweaks and setup for the Mahalia system
